body {
}


.flex-container {
    /* We first create a flex layout context */
    display: flex;
    /* Then we define the flow direction
     and if we allow the items to wrap
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
    flex-flow: row wrap;
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    border-radius: 8%;
    background: tomato;
    padding: 5px;
    width: 250px;
    height: 200px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    box-shadow: 11px 11px 35px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 11px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 11px 35px 0px rgba(0,0,0,0.75);
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 60%;
    }

.search-form {
    padding: 30px;
}

.table {
    display: flex;
    flex-flow: column;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    max-width: 100%;
}

.table__row {
    display: flex;
    max-width: 100%;
    border-bottom: 1px solid #000;
}

    .table__row:nth-of-type(even) {
        background-color: #fff;
    }

    .table__row:nth-of-type(odd) {
        background-color: #efefef;
    }

.table__column {
    display: flex;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0 1rem;
    border-right: 1px solid #000;
    word-break: break-word;
}

.table__header {
    background-color: darkcyan;
    color: #fff;
}
